.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 370px;
  height: 100%;
  padding-top: 50px;
  border: 1px solid rgb(224, 221, 221);
  background: white;
  transition: left 0.3s;
  z-index: 3;

  .navLogo {
    width: 100px;
    height: 43px;
    margin-bottom: 70px;
  }

  img {
    margin-bottom: 50px;
  }

  .fa-times {
    position: absolute;
    left: 80px;
    padding: 11px 14px;
    border-radius: 60px;

    font-weight: thin;
  }

  .fa-times:hover {
    background-color: rgba(240, 239, 239, 0.829);
  }

  h1 {
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 40px;
    font-size: 28px;
  }
}

.show {
  left: 0;
}

.hide {
  left: -810px;
}
