aside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  transition: left 0.3s;

  img {
    margin-bottom: 50px;
  }

  h1 {
    font-size: 42px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 40px;
  }
  .sideBar {
    padding-top: 30px;
    height: 100vh;

    .navLogo {
      width: 100px;
      height: 43px;
      margin-bottom: 70px;
    }

    .sideProductList {
      font-size: 16px;
      color: black;
      font-weight: bold;
      text-decoration: none;
    }
    li {
      padding-bottom: 20px;
    }
  }
}

.show {
  left: 0;
}

.hide {
  left: -500px;
}
