@import '../../../Styles/variable.scss';

.ItemList {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2.5rem;

  div {
    margin-bottom: 10px;
  }

  img {
    width: 300px;
    height: 300px;
  }
}

.Item {
  text-decoration: none;

  position: relative;
  margin: 1rem 0;
  cursor: pointer;

  input {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 1rem;
  }

  .checkbox {
    width: 2rem;
    height: 2rem;
    border: 0;
    padding: 0;
    z-index: 1;
    cursor: pointer;
  }

  img {
    width: 100%;
  }

  .imgWrapper {
    object-fit: cover;
    margin-bottom: 2em;
  }

  .name {
    margin-bottom: 0.4em;
    font-weight: bold;
    color: $lightblack;
  }

  .info {
    margin-bottom: 8px;
    font-size: 0.875rem;
    color: $gray;
  }

  .unit {
    margin-right: 0.3em;
  }

  .price {
    font-weight: bold;
    font-size: 24px;
  }

  i {
    position: absolute;
    right: 1.7rem;
    bottom: 0.5rem;
    font-size: 2.5rem;
    color: rgb(0, 80, 172);
    animation: fadein 1s;
  }

  .option {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: $gray;
  }

  .crossline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    content: '';
    background-color: #dfdfdf;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
